@charset "UTF-8";
/*=====fontes=====*/
@font-face {
    font-family:"TruenoRound";
    src: url(fontes/TruenoRound.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}   
:root{
/*=====variavel de cores=====*/
    --cor01:#EDECED;
    --cor02:#5a687da7;
    --cor03:#314D73;
    --cor04:#24C05E;
    --cor05:#98C2BD;
/*=====variavel de fontes=====*/
    --font-padrao: arial, verdana, sans-serif;
    --font-destaque:'TruenoRound', cursive;
}
/*=====configuração global=====*/
*{
    margin: 0;
    padding: 0;
}
/*======DOC*CSS=====*/
html,body{
    background-image: linear-gradient(to left, var(--cor03), var(--cor02));
    font-family: var(--font-destaque);
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    scroll-behavior: smooth;
    transition: background-color 10s, color 10s;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to right, var(--cor03), var(--cor05));
    min-height: 50px;
    width: auto;
    margin: auto;
    text-align: right;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
#menu-toggle{
    display:none;
}
.menu-btn{
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-btn span{
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--cor03);
    border-radius: 3px;
    transition: 0.3s;
}
#menu-btn {
    display: none; /* padrão: escondido */
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1002;
}
.slide-menu{
    position: absolute;
    top: -205px;
    width: 115px;
    min-height: 50px;
    background-image: linear-gradient(to right, var(--cor03), var(--cor05));
    color: var(--cor03);
    transition: top 1s ease;
    z-index: 1001;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.slide-menu > ul{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.slide-menu > ul:hover{
    background: rgba(252, 252, 252, 0.1);
    cursor: pointer;
}
.slide-menu a{
    text-decoration: none;
    line-height: 1.8em;
    color: var(--cor01);
    border-radius: 3px;
    padding: 4px;
}
.slide-menu a:hover{
    color: var(--cor03);
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 50px;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
#menu-toggle:checked ~ .slide-menu {
    top: 35px;
}
#menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}
#menu-toggle:checked + .menu-btn span:nth-child(1){
    transform: rotate(45deg) translatey(13px);
    background: white;
}
#menu-toggle:checked + .menu-btn span:nth-child(2){
    opacity: 0;
}
#menu-toggle:checked + .menu-btn span:nth-child(3){
    transform:rotate(-45deg) translatey(-13px);
    background: white;
}
@media (max-width: 860px) {
    nav {
        display: none;
    }
    #menu-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 1002;
    }
}
nav {
    align-items: flex-end;
    margin: 0;
    padding-right: 30px;
    height: 80px;
    width: auto;
}
nav > ul{
    margin-top: 30px;
    transition: background-color 0.3s, color 0.3s;
}
nav a{
    background-color: var(--cor02);
    color: var(--cor01);
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
nav a:hover{
    background-color: var(--cor05);
    color: var(--cor03);
    transition: background-color 0.3s, color 0.3s;
}
.lista:hover{
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    color: var(--cor01);
    transition: background-color 0.3s, color 0.3s;
}
.destaque{
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    color: var(--cor02);
    transition: background-color 0.3s, color 0.3s;
}
.destaque:hover{
    background-image: linear-gradient(to right, var(--cor05), var(--cor04));
    color: var(--cor01);
    transition: background-color 0.3s, color 0.3s;
}
#logo-cl{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 30px;
}
#logo-cl > a{
    display: flex;
    gap: 2px;
}
#logo-cl > a > #logo-1:hover{
    background-color: var(--cor03);
}
#logo-cl > a > #logo-2:hover{
    background-color: var(--cor03);
}
header #logo-1 {
    height: 20px;
    width: 6px;
    background-color: white;
    border-radius: 3px;
    margin-top: 8px;
}
header #logo-2 {
    height: 20px;
    width: 6px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 8px;
}
main{
    background-color: white;
    margin-top: 0;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px 20px 30px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
main h1{
    color: #000000;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    max-width: 500px;
}
main p{
    text-align: justify;
    line-height: 1.5em;
    max-width: 500px;
    padding: 30px 10px 10px 10px;
    font-size: 1.2em;
}
strong:hover{
    color: var(--cor04);
    font-style: bold;
    text-decoration: underline;
}
main ul{
    display: flex;
    list-style: none;
    margin-top: 15px;
    padding: 0px 20px 10px 5px;
    max-width: 500px;
}
main li{
    background-color: var(--cor01);
    color: var(--cor03);
    border-radius: 3px;
    margin:4px;
    padding: 8px;
    font-size: 0.8em;
    font-style: bold;
    max-width: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.414);
}
main a{
    text-decoration: none;
}
section#home{
    display: flex;
    width: auto;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
#imagem-princial{
    padding: 10px;
}
section#home img{
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
section#home img:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.816);
}
@media (max-width: 940px) {
    section#home {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    #imagem-princial {
        padding-left: 0;
        padding-top: 0px;
}
}
/*=======style section (serviços)======*/
section#servico{
    margin-top: 50px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, var(--cor03), var(--cor05));
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
#card-servicos{
    display: inline-flex;
    min-width: 450px
}
section#servico > h2{
    padding: 40px 20px 20px 20px;
    color: var(--cor01);
}
section#servico > p{
    padding: 20px 20px 40px 20px;
    color: var(--cor01);
}
.card-servicos{
    background-color: var(--cor02);
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
    padding: 10px;
    padding-bottom: 20px;
    max-width: 280px;
}
@media (max-width: 1020px) {
    #card-servicos {
        flex-direction: column;
        align-items: center;  
        display: flex;
    }
    .card-servicos {
        padding-left: 0;
        padding-top: 0px;
        max-width: 280px
    }
    #servico > p {
        font-size: 15px;
    }
    section .card-servicos > p {
        font-size: 0.9em;
    }
}
section .card-servicos > h3{
    color: var(--cor01);
    text-align: justify;
    padding: 20px;

}
section .card-servicos > p{
    font-size: 1em;
    color: var(--cor01);
    text-align: justify;
    padding: 20px;
}
section .card-servicos > ul{
    flex-direction: column;
    padding: 20px;
    margin: auto;
}
section .card-servicos li{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
    text-align: center;
}
#e-commerce-basico{
    margin-bottom: 20px;
}
.linhas{
    text-align: center;
    justify-items: center;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.168);
    max-height: 280px;
}
.preco {
    margin-left: 20px;
    padding: 10px;
    color: white;
}
.Solicitar-proposta{
    width: 155px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.Solicitar-proposta > a >li{
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    transition: background-color 0.3s, color 0.3s;
    color: var(--cor02);
    text-align: center;
    list-style: none;
}
.Solicitar-proposta > a :hover{
    background-image: linear-gradient(to right, var(--cor05), var(--cor04));
    color: var(--cor01);
    transition: background-color 0.3s, color 0.3s;
}
.card-servicos:hover{
    background-image: linear-gradient(to right, var(--cor03), var(--cor02));
    transition: background-color 0.3s, color 0.3s;
}
/*=======style section (portifólio)======*/
section#portifolio{
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: var(--cor01);
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
section#portifolio > h2{
    padding: 40px 20px 20px 20px;
}
section#portifolio > p{
    padding: 20px;
}
.portifolio{
    display: flex;
    position: relative;
    padding: 20px;
    gap: 20px;
}
.port-card{
    position: relative;
    background-image: linear-gradient(to right, var(--cor03),var(--cor02));
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
section#portifolio img{
    display: flex;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.port-card > h3{
    color: var(--cor01);
    padding: 20px;
}
.port-card > p{
    color: var(--cor01);
    text-align: justify;
    padding: 20px;
    font-size: larger;
}
.port-card a{
    color: var(--cor04);
    padding: auto;
}
.port-card:hover{
    background-image: linear-gradient(to right, var(--cor02), var(--cor03));
    transition: background-color 0.3s, color 0.3s;
}
.port-card:hover a {
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 1020px) {
    .portifolio {
        flex-direction: column;
        align-items: center;  
        display: flex;
    }
    .port-card {
        padding-left: 0;
        padding-top: 0px;
        max-width: 280px
    }
    .port-card > p {
        font-size: 15px;
    }
}
/*=======style section (meus processos)======*/
section#processos{
    background-image: linear-gradient(to right, var(--cor03), var(--cor05));
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: var(--cor01);
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
section#processos > h2{
    padding: 40px 20px 20px 20px;
    color: var(--cor01);
}
.meus-processos{
    display: block;
    padding: 5px;
    max-width: 100%;
}
.processos {
    border: 1px solid rgba(0, 0, 0, 0.249);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.414);
    margin: 0px 20px 10px 20px;
    border-radius: 10px;
    padding: 5px;
}
.processos > p{
    color: white;
    padding: 3px;
    max-width: 1000px;
}
.processos:hover{
    background-image: linear-gradient(to right, var(--cor02), var(--cor03));
    transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 715px) {
    .processos > p{
        font-size: 0.7em;
    }
}
/*=======style section (preços)======*/
article#preco-conversar{
    background-color: var(--cor01);
    margin-top: 50px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
article#preco-conversar  h2{
    padding: 40px 20px 20px 20px;
}
#card-preco{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.preco{
    background-image: linear-gradient(to right, var(--cor02), var(--cor03));
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
    margin: 0px;
}
.preco > h3{
    padding: 10px;
    text-align: center;
}
.preco > ul{
    display: block;
    padding: 10px;
    
}
.preco li{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
    text-align: center;
}
.preco:hover{
    background-image: linear-gradient(to right, var(--cor03), var(--cor02));
    transition: background-color 0.3s, color 0.3s;
}
@media (max-width: 1020px) {
    #card-preco{
        flex-direction: column;
        align-items: center;  
        display: flex;
    }
}
/*=======style section (vamos conversar)======*/
section#contato{
    display: flex;
    margin: auto;
    background-image: linear-gradient(to right, var(--cor03), var(--cor05));
    margin-top: 50px;
    max-width: 930px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}
section#contato  h2{
    padding: 40px 20px 20px 20px;
    color: var(--cor01);
}
section#contato  p{
    padding: 20px;
    color: var(--cor01);
    font-size: larger;
}
section#contato  ul{
    color: var(--cor01);
    display: block;
    width: 150px;
    margin: 20px 0px 0px 10px;
    padding: 10px;
    list-style: none;
}
section#contato  li{
    background-color: var(--cor02);
    color: var(--cor01);
    border-radius: 3px;
    margin:4px;
    padding: 8px;
    font-size: 1em;
    font-style: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.414);
    transition: background-color 0.3s, color 0.3s;
}
section#contato  li:hover{
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    color: var(--cor02);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    max-width: 500px;
    color: white;
}
form input, form textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.249);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.414);
    font-family: var(--font-padrao);
    font-size: 1em;
    resize: vertical;
}
form input:focus, form textarea:focus{
    outline: none;
    background-color: var(--cor02);
    border: 1px solid var(--cor04);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.616);
}
form button{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--cor04), var(--cor05));
    color: var(--cor02);
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.414);
    transition: background-color 0.3s, color 0.3s;
}
form button:hover{
    background-image: linear-gradient(to right, var(--cor05), var(--cor04));
    color: var(--cor01);
    transition: background-color 0.3s, color 0.3s;
}
form p{
    color: var(--cor01);
    font-size: larger;
    }
@media (max-width: 940px) {
    section#contato {
        flex-direction: column;
        align-items: center;    
    }
    form {
        margin-top: 30px;
        padding: 10px;
        padding-top: 0px;
    }
    form p{
        text-align: center;
        padding-bottom: 10px;
        margin-top: 10px;
        color: var(--cor01);
    }
}
/*=======style footer======*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px 20px ;
}
footer > p {
    color: white;
    text-align: left;
    font-size: 1em;
    
}
footer a{
    color: white;
    text-align: right;
    text-decoration: none;
    font-size: 1em;
}
footer a:hover{
    color: var(--cor04);
    text-decoration: underline;
    transition: color 0.3s;
}
@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}
/*=======FIM DO CSS======*/